<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.health.READ_STEPS" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_DISTANCE" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_ELEVATION_GAINED" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_FLOORS_CLIMBED" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_RESTING_HEART_RATE" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_BASAL_METABOLIC_RATE" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_HYDRATION" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_NUTRITION" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" tools:node="remove" />
    <uses-permission android:name="android.permission.health.READ_WEIGHT" tools:node="remove" />
    <uses-permission android:name="android.permission.health.WRITE_NUTRITION" tools:node="remove" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" tools:node="remove" />
    </queries>

    <application>
        <activity
            android:name=".HealthConnectRationaleActivity"
            tools:node="remove" />
        <activity-alias
            android:name=".ViewPermissionUsageActivity"
            tools:node="remove" />
    </application>
</manifest>
